.container > main > .detail {
    width: 90%;
    /* height: 100vh; */
    margin:0 auto;
}
.container > main > .detail > div > .header {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    padding: 20px 0;
}
.container > main > .detail > div > .description{
    font-size: 16px;
    color: #333333;
    font-weight: lighter;
    padding: 12px 0;
}
.container > main > .detail > div > .small__header{
    font-size: 22px;
    color:#333333;
    font-weight: bold;
    padding: 8px 0;
}
#pop > .poppy {
    list-style: none;
    font-size: 16px;
    color: #333333;
    font-weight: lighter;
}
#pop > .poppy::before{
    content: "✓ ";
    color: #df1b6f;
}

